$borderColor: #6A6A6A;
$bgColor: #fff;
$textColor: #333;

@mixin baseInput {
  font-size: 1.6rem
  width:100%                          // Important for Input
  border: 1px solid #6A6A6A;
  border-radius: 2px;
  outline: none;
  background: $bgColor;
  padding: .9rem 1rem;
  color: #textColor;
}

.formInput-text {
  @@include baseInput;
  //additionnal Style
}
.formInput-select {
  @@include baseInput;
  //additionnal Style
}
.formInput-number {
  @@include baseInput;
  //additionnal Style
}
.formInput-submite {
  @@include baseInput;
  //additionnal Style
}
